#main {
    background: url(image/homeBG_blurred.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
}

#main .home-inner {
    padding-top: 200px;
}

body {
    background: #333;
    color: whitesmoke;
}

.nav-link {
    font-size: larger;
}